Language: Cpp
Standard: c++20
BasedOnStyle: Chromium
ColumnLimit: 0
TabWidth: 4
IndentWidth: 4
PPIndentWidth: 4
UseTab: Never
AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 0
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
NamespaceIndentation: All
AlignAfterOpenBracket: Align
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortLambdasOnASingleLine: All
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
PenaltyReturnTypeOnItsOwnLine: 1
PointerAlignment: Left
SortIncludes: CaseSensitive
SpacesInContainerLiterals: false
LambdaBodyIndentation: OuterScope